<div [className]="'product-card'">
    <div>
        <nz-card 
            [nzCover]="coverTemplate" 
            [nzHoverable]="isHoverable" 
            [nzBorderless]="borderless"
            [nzLoading]="isLoading">
        </nz-card>

        <ng-template #coverTemplate>
            <div>
                <app-carousel 
                    [carouselData]="product.images"
                    [enableAutoPlay]="enableCarouselAutoPlay"
                    [enableSwipe]="enableCarouselSwipe"
                    [enableDots]="enableCarouselDots"
                    [section]="section"
                    [fatherComponent]="'app-product-card'">
                </app-carousel>
                <h1>{{ product.name }}</h1>
                <h2>{{ product.price }}</h2>
                <nz-rate 
                    nzAllowHalf
                    [nzDisabled]="rateDisabled" 
                    [ngModel]="product.rating">
                </nz-rate>
            </div>
        </ng-template>
    </div>
</div>