<nz-header *ngIf="showHeader">
    <nav class="left-header">
        <a routerLink="/home" routerLinkActive="router-link-active"><img src="../../../../assets/images/velure-logo-icon.png"></a>
        <ul nz-menu [nzSelectable]="true" nzMode="horizontal">
            <li nz-menu-item><a routerLink="/home" routerLinkActive="router-link-active">Home</a></li>
            <li nz-submenu [nzTitle]="nzsubmenuTitle" [nzPlacement]="'bottomCenter'" (nzOpenChange)="hoverProducts($event)">
                <span nz-menu-item>teste 1</span>
                <span nz-menu-item>teste 2</span>
            </li>
            <li nz-menu-item>{{ "GLOBAL.CONTACT" | translate }}</li>
        </ul>
    </nav>
    <div class="right-header">
        <a href=""><span nz-icon nzType="search" nzTheme="outline"></span></a>
        <a href=""><span nz-icon nzType="shopping-cart" nzTheme="outline"></span></a>
        <a routerLink="/login" routerLinkActive="router-link-active"><span nz-icon nzType="user" nzTheme="outline"></span></a>
    </div>
</nz-header>

<ng-template #nzsubmenuTitle>
    <div class="products-submenu">
        <span title [ngStyle]="{ 'padding-right.px': '5' }">{{ "GLOBAL.PRODUCTS" | translate }}</span> 
        <span nz-icon nzType="down" nzTheme="outline" class="arrow-icon" [ngClass]="hoveringProduct ? 'rotate' : ''"></span>
    </div>
</ng-template>