<div [className]="'product-card'">
    <div>
        <nz-card 
            [nzCover]="coverTemplate" 
            [nzHoverable]="isHoverable" 
            [nzBorderless]="borderless"
            [nzLoading]="isLoading">
        </nz-card>

        <ng-template #coverTemplate>
            <div>
                <app-carousel 
                    [carouselData]="product.images"
                    [enableAutoPlay]="enableCarouselAutoPlay"
                    [enableSwipe]="enableCarouselSwipe"
                    [enableDots]="enableCarouselDots"
                    [section]="section">
                </app-carousel>
                <p>{{ product.name }}</p>
                <p>R${{ product.price.toFixed(2) }}</p>
                <nz-rate 
                    nzAllowHalf
                    [nzDisabled]="rateDisabled" 
                    [ngModel]="product.rating">
                </nz-rate>
                <div class="product-actions">
                    <button nz-button nzType="primary" (click)="addToCart()">Adicionar ao Carrinho</button>
                    <button nz-button nzType="default" nzDanger (click)="removeFromCart()">Remover do Carrinho</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
