<div class="login-container">
    <div class="login-form">
        <img [src]="safeLogoImageUrl" alt="Logo" />
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <!-- Mensagem de Erro Geral -->
            <nz-alert *ngIf="errorMessage" nzType="error" [nzMessage]="errorMessage" nzShowIcon>
            </nz-alert>

            <!-- Campo de Email -->
            <nz-form-item>
                <nz-form-control [nzErrorTip]="userErrorTip">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="email" nz-input formControlName="email" [placeholder]="userPlaceholder"
                            aria-label="Email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <!-- Campo de Senha -->
            <nz-form-item>
                <nz-form-control [nzErrorTip]="passwordErrorTip">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" [placeholder]="passwordPlaceholder"
                            aria-label="Senha" />
                    </nz-input-group>
                    <div class="forgot-password">
                        <a routerLink="/forgot-password">{{ "LOGIN.FORGOT_PASSWORD" | translate }}</a>
                    </div>
                </nz-form-control>
            </nz-form-item>

            <!-- Botão de Login -->
            <button nz-button nzType="primary" [disabled]="isLoading" type="submit" class="login-button">
                <ng-container *ngIf="isLoading; else loginText">
                    <nz-spin nzSimple></nz-spin>
                </ng-container>
                <ng-template #loginText>{{ "LOGIN.LOGIN" | translate }}</ng-template>
            </button>
        </form>

        <!-- Link para Registro -->
        <div class="does-not-have-an-account">
            <p>{{ "LOGIN.DOES_NOT_HAVE_ACCOUNT" | translate }}</p>
            <a routerLink="/register">{{ "REGISTER.REGISTER" | translate }}</a>
        </div>
    </div>
    <a href="#" target="_blank" rel="noopener noreferrer"></a>
</div>