# =========================
# Configurações do RabbitMQ
# =========================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=publisher-order
RABBITMQ_DEFAULT_PASS=publisher_password
RABBITMQ_EXCHANGE=orders

RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/

# =========================
# Configurações do PostgreSQL de ordens
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE_NAME=velure_db
POSTGRES_USER=velure_user
POSTGRES_PASSWORD=velure_password
POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE_NAME}
# =========================

# Portas
PUBLISH_ORDER_SERVICE_APP_PORT=8080
