# ExternalSecrets for Product Service

---
# MongoDB secret (velure-product-secret)
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velure-product-mongodb-es
  namespace: order
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: velure-product-secret
    creationPolicy: Owner
    template:
      data:
        uri: "{{ .url }}"
        database: "product_service"
        username: "velure_user"
        password: "velure_password"
  data:
    - secretKey: url
      remoteRef:
        key: velure/production/mongodb
        property: url

