<nz-header>
    <nav class="left-header">
        <div class="logo"></div>
        <ul nz-menu [nzSelectable]="true" nzMode="horizontal">
            <li nz-menu-item>Home</li>
            <li nz-submenu [nzTitle]="nzsubmenuTitle" [nzPlacement]="'bottomCenter'" (nzOpenChange)="hoverProducts($event)">
                <span nz-menu-item>teste 1</span>
                <span nz-menu-item>teste 2</span>
            </li>
            <li nz-menu-item>Contato</li>
        </ul>
    </nav>
    <div class="right-header">
        <span nz-icon nzType="search" nzTheme="outline"></span>
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        <span nz-icon nzType="user" nzTheme="outline"></span>
    </div>
</nz-header>

<ng-template #nzsubmenuTitle>
    <span title>Produtos</span> 
    <span class="arrow-icon" nz-icon nzType="down" nzTheme="outline" [ngClass]="hoveringProduct ? 'rotate' : ''"></span>
</ng-template>