nz-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.right-header > span {
    color: black;
}

.arrow-icon {
    transition: transform 0.3s ease;
    font-size: 0.8rem;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
}