{{- if .Values.mongodb }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  labels:
    {{- include "velure-product.labels" . | nindent 4 }}
type: Opaque
stringData:
  uri: "mongodb://{{ .Values.mongodb.username }}:{{ .Values.mongodb.password }}@{{ .Values.mongodb.host }}:{{ .Values.mongodb.port }}/{{ .Values.mongodb.database }}?authSource={{ .Values.mongodb.authDatabase }}"
  username: {{ .Values.mongodb.username | quote }}
  password: {{ .Values.mongodb.password | quote }}
  database: {{ .Values.mongodb.database | quote }}
{{- end }}
