replicaCount: 1
image:
  repository: icl00ud/velure-publish-order
  tag: "latest"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 3030
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 65
order:
  exchange: orders
livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2
readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

secrets:
  create: true
  rabbitmq:
    url: "amqps://admin:Velure12345678@b-ad95cf62-9809-4292-b928-4f97d1b63661.mq.us-east-1.on.aws:5671"
  postgres:
    url: "postgresql://postgres:Velure123@velure-production-orders.cufc2wsg0tnq.us-east-1.rds.amazonaws.com:5432/velure_orders?sslmode=require"
