<div>
    <div class="forgot-password-container">
        <div class="forgot-password-form">
            <img [src]="safeLogoImageUrl">
            <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="emailErrorTip">
                        <nz-input-group nzPrefixIcon="mail">
                            <input type="email" nz-input formControlName="email" [placeholder]="emailPlaceholder" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [nzType]="'primary'" [disabled]="isLoading">
                    <ng-container *ngIf="isLoading; else submitText">
                        <nz-spin nzSimple></nz-spin>
                    </ng-container>
                    <ng-template #submitText>{{ "FORGOT_PASSWORD.SUBMIT" | translate }}</ng-template>
                </button>
            </form>
            <div class="already-have-an-account">
                <p>{{ "FORGOT_PASSWORD.ALREADY_HAVE_ACCOUNT" | translate }}</p>
                <a routerLink="/login">{{ "LOGIN.LOGIN_NOW" | translate }}</a>
            </div>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer"></a>
    </div>
</div>