apiVersion: v1
kind: Service
metadata:
  name: velure-auth
  namespace: {{ .Values.namespace | quote }}
  labels:
    app: velure-auth
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    app: velure-auth
