apiVersion: v1
kind: Service
metadata:
  name: {{ include "velure-auth.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "velure-auth.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    {{- include "velure-auth.selectorLabels" . | nindent 4 }}
